.info
  &__container
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    gap: 35px
  &__item
    display: flex
    flex-direction: column
    gap: 20px
    border-radius: 56px
    background: linear-gradient(180deg, #CFEFFE 0%, rgba(246, 246, 246, 0.00) 100%)
    box-shadow: var(--blue-shadow)
    padding: 50px 0 30px 0
  &__num
    width: 85%
    background: var(--white-color)
    padding-left: 50px
  &__num--text
    color: var(--black-color)
    font-size: 36px
    font-weight: 600
    line-height: 104.9%
    margin: 10px
  &__description
    color: var(--black-color)
    font-family: Gilroy
    font-size: 14.739px
    font-style: normal
    font-weight: 300
    line-height: 135.3%
    margin: 0
    padding: 0 50px
  &__photo
    padding: 30px 0
    width: 95%
    margin: 0 auto
    margin-top: auto
